<!-- Simplified version, add more questions as needed -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
    <form action="/quiz" method="post">
        <p>1.Do not like poetry?  <br>
            Yes <input type="radio" name="openness1" value="0"> 
            No <input type="radio" name="openness1" value="1"></p>

        <p>2.Have a vivid Imagination?  <br>
            Yes <input type="radio" name="openness2" value="1"> 
            No <input type="radio" name="openness2" value="0"></p>

        <p>3.Have a rich vocabulary? <br>
            Yes <input type="radio" name="openness3" value="1"> 
            No <input type="radio" name="openness3" value="0"></p>

        <p>4.Enjoy hearing new Ideas?  <br>
            Yes <input type="radio" name="openness4" value="1"> 
            No <input type="radio" name="openness4" value="0"></p>

        <p>5.Tend to vote for conservative political candidates <br>
            Yes <input type="radio" name="openness5" value="0"> 
            No <input type="radio" name="openness5" value="1"></p>

        <p>6.Avoid philosophical discussions<br>
            Yes <input type="radio" name="openness6" value="0"> 
            No <input type="radio" name="openness6" value="1"></p>

        <p>7.Enjoy Wild Flights of Fantasy  <br>
            Yes <input type="radio" name="openness7" value="1"> 
            No <input type="radio" name="openness7" value="0"></p>

        <p>8.Tend to vote for liberal candidates <br>
            Yes <input type="radio" name="openness8" value="1"> 
            No <input type="radio" name="openness8" value="0"></p>

        <p>9.Rarely look for deeper meaning in things<br>
            Yes <input type="radio" name="openness9" value="0"> 
            No <input type="radio" name="openness9" value="1"></p>

        <p>10.Get excited by new Ideas?  <br>
            Yes <input type="radio" name="openness10" value="1"> 
            No <input type="radio" name="openness10" value="0"></p>

        <p>11.Believe that too much tax money goes to support artis <br>
            Yes <input type="radio" name="openness11" value="0"> 
            No <input type="radio" name="openness11" value="1"></p>

        <p>12.Do not enjoy going to art museums<br>
            Yes <input type="radio" name="openness12" value="0"> 
            No <input type="radio" name="openness12" value="1"></p>

        <p>13.Do not like art  <br>
            Yes <input type="radio" name="openness13" value="0"> 
            No <input type="radio" name="openness13" value="1"></p>

        <p>14.Believe in the importance of art   <br>
            Yes <input type="radio" name="openness14" value="1"> 
            No <input type="radio" name="openness14" value="0"></p>

        <p>15.Am not interested in abstract ideas <br>
            Yes <input type="radio" name="openness15" value="0"> 
            No <input type="radio" name="openness15" value="1"></p>

        <p>16.Carry the converstaion to highger level  <br>
            Yes <input type="radio" name="openness16" value="1"> 
            No <input type="radio" name="openness16" value="0"></p>

        <p>17 Am not interested in theoretical discussions<br>
            Yes <input type="radio" name="openness17" value="0"> 
            No <input type="radio" name="openness17" value="1"></p>

        <p>18.Can say things beauti1ully<br>
            Yes <input type="radio" name="openness18" value="1"> 
            No <input type="radio" name="openness18" value="0"></p>

        <p>.Have a difficulty understanding abstract ideas<br>
            Yes <input type="radio" name="openness19" value="0"> 
            No <input type="radio" name="openness19" value="1"></p>

        <p>20.Enjoy thinking about things <br>
            Yes <input type="radio" name="openness20" value="1"> 
            No <input type="radio" name="openness20" value="0"></p>


        

        <input type="submit" value="Submit">
    </form>
</body>
</html>
